.container{
    margin: auto;
    width: 308px;
}
.number{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(61, 61, 61);
    color: white;
}
button:hover{
    background-color: rgb(255, 255, 0);
    color: black;
}
span{
    font-size: 100px;
    color: rgb(255, 226, 3);
    text-shadow: 3px 3px  rgba(96, 103, 110, 0.671);
}